In [ ]:
import pandas as pd
import numpy as np

#LÀM SẠCH DỮ LIỆU CƠ BẢN

In [ ]:
#1.Tiến hành hiểu dữ liệu từ chuyên gia
df = pd.read_csv('patient_heart_rate.csv',engine='python',on_bad_lines='skip')
df

       1    Mickéy Mousé    56       70kgs   72    69    71     -   -.1   -.2
0    2.0     Donald Duck  34.0   154.89lbs    -     -     -    85    84    76
1    3.0      Mini Mouse  16.0         NaN    -     -     -    65    69    72
2    4.0  Scrooge McDuck   NaN       78kgs   78    79    72     -     -     -
3    5.0    Pink Panther  54.0  198.658lbs    -     -     -    69   NaN    75
4    6.0     Huey McDuck  52.0      189lbs    -     -     -    68    75    72
5    7.0    Dewey McDuck  19.0       56kgs    -     -     -    71    78    75
6    8.0      Scööpy Doo  32.0       78kgs   78    76    75     -     -     -
7    NaN             NaN   NaN         NaN  NaN   NaN   NaN   NaN   NaN   NaN
8    NaN             NaN   NaN         NaN  NaN  None  None  None  None  None
9    9.0     Huey McDuck  52.0      189lbs    -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs    -     -     -    92    95    87
11  11.0       Henry Nam   NaN       60kgs   78    75    72     -     -     -
12  12.0     Michel Long  34.0         NaN   65    67    55     -     -     -
13  13.0      Tana Ricky   NaN         NaN    -     -     -    68    72    70
14  15.0             NaN  52.0      180lbs    -     -     -    68    75    72

In [ ]:
#2. Thông thường ta thường xử lý các vấn đề sau về dữ liệu
#1. Thiếu dòng tiêu đề ở file csv
df = pd.read_csv('patient_heart_rate.csv',header=None,on_bad_lines='skip')
df.columns = ['id', 'name', 'age', 'weight','hr1', 'hr2', 'hr3','hr4', 'hr5', 'hr6']

In [ ]:
 #2. Nhiều biến lưu ở một cột
df[['weight_value', 'weight_unit']] = df['weight'].str.extract(
    r'([\d\.]+)\s*([a-zA-Z]+)'
)
df

,id,name,age,weight,hr1,hr2,hr3,hr4,hr5,hr6,weight_value,weight_unit
0,1.0,Mickéy Mousé,56.0,70kgs,72,69,71,-,-,-,70,kgs
1,2.0,Donald Duck,34.0,154.89lbs,-,-,-,85,84,76,154.89,lbs
2,3.0,Mini Mouse,16.0,NaN,-,-,-,65,69,72,NaN,NaN
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,-,-,-,78,kgs
4,5.0,Pink Panther,54.0,198.658lbs,-,-,-,69,NaN,75,198.658,lbs
5,6.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72,189,lbs
6,7.0,Dewey McDuck,19.0,56kgs,-,-,-,71,78,75,56,kgs
7,8.0,Scööpy Doo,32.0,78kgs,78,76,75,-,-,-,78,kgs
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72,189,lbs
11,10.0,Louie McDuck,12.0,45kgs,-,-,-,92,95,87,45,kgs
12,11.0,Henry Nam,NaN,60kgs,78,75,72,-,-,-,60,kgs
13,12.0,Michel Long,34.0,NaN,65,67,55,-,-,-,NaN,NaN
14,13.0,Tana Ricky,NaN,NaN,-,-,-,68,72,70,NaN,NaN
15,15.0,NaN,52.0,180lbs,-,-,-,68,75,72,180,lbs

In [ ]:
df['weight_value'] = pd.to_numeric(df['weight_value'], errors='coerce')
df['weight_unit'] = df['weight_unit'].str.lower()
df['weight_kg'] = df['weight_value']
df.loc[df['weight_unit'].str.contains('lb', na=False), 'weight_kg'] *= 0.453592
df

,id,name,age,weight,hr1,hr2,hr3,hr4,hr5,hr6,weight_value,weight_unit,weight_kg
0,1.0,Mickéy Mousé,56.0,70kgs,72,69,71,-,-,-,70.000,kgs,70.000000
1,2.0,Donald Duck,34.0,154.89lbs,-,-,-,85,84,76,154.890,lbs,70.256865
2,3.0,Mini Mouse,16.0,NaN,-,-,-,65,69,72,NaN,NaN,NaN
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,-,-,-,78.000,kgs,78.000000
4,5.0,Pink Panther,54.0,198.658lbs,-,-,-,69,NaN,75,198.658,lbs,90.109680
5,6.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72,189.000,lbs,85.728888
6,7.0,Dewey McDuck,19.0,56kgs,-,-,-,71,78,75,56.000,kgs,56.000000
7,8.0,Scööpy Doo,32.0,78kgs,78,76,75,-,-,-,78.000,kgs,78.000000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72,189.000,lbs,85.728888
11,10.0,Louie McDuck,12.0,45kgs,-,-,-,92,95,87,45.000,kgs,45.000000
12,11.0,Henry Nam,NaN,60kgs,78,75,72,-,-,-,60.000,kgs,60.000000
13,12.0,Michel Long,34.0,NaN,65,67,55,-,-,-,NaN,NaN,NaN
14,13.0,Tana Ricky,NaN,NaN,-,-,-,68,72,70,NaN,NaN,NaN
15,15.0,NaN,52.0,180lbs,-,-,-,68,75,72,180.000,lbs,81.646560

In [ ]:
#4. Dữ liệu có một dòng trống
df.replace('-', pd.NA, inplace=True)
df.dropna(how='all', inplace=True)
df

,id,name,age,weight,hr1,hr2,hr3,hr4,hr5,hr6,weight_value,weight_unit,weight_kg
0,1.0,Mickéy Mousé,56.0,70kgs,72,69,71,<NA>,<NA>,<NA>,70.000,kgs,70.000000
1,2.0,Donald Duck,34.0,154.89lbs,<NA>,<NA>,<NA>,85,84,76,154.890,lbs,70.256865
2,3.0,Mini Mouse,16.0,NaN,<NA>,<NA>,<NA>,65,69,72,NaN,NaN,NaN
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,<NA>,<NA>,<NA>,78.000,kgs,78.000000
4,5.0,Pink Panther,54.0,198.658lbs,<NA>,<NA>,<NA>,69,NaN,75,198.658,lbs,90.109680
5,6.0,Huey McDuck,52.0,189lbs,<NA>,<NA>,<NA>,68,75,72,189.000,lbs,85.728888
6,7.0,Dewey McDuck,19.0,56kgs,<NA>,<NA>,<NA>,71,78,75,56.000,kgs,56.000000
7,8.0,Scööpy Doo,32.0,78kgs,78,76,75,<NA>,<NA>,<NA>,78.000,kgs,78.000000
10,9.0,Huey McDuck,52.0,189lbs,<NA>,<NA>,<NA>,68,75,72,189.000,lbs,85.728888
11,10.0,Louie McDuck,12.0,45kgs,<NA>,<NA>,<NA>,92,95,87,45.000,kgs,45.000000
12,11.0,Henry Nam,NaN,60kgs,78,75,72,<NA>,<NA>,<NA>,60.000,kgs,60.000000
13,12.0,Michel Long,34.0,NaN,65,67,55,<NA>,<NA>,<NA>,NaN,NaN,NaN
14,13.0,Tana Ricky,NaN,NaN,<NA>,<NA>,<NA>,68,72,70,NaN,NaN,NaN
15,15.0,NaN,52.0,180lbs,<NA>,<NA>,<NA>,68,75,72,180.000,lbs,81.646560

In [ ]:
#5. Dữ liệu trùng lập
# Xóa các dòng trùng lặp
df.drop_duplicates(inplace=True)
df

,id,name,age,weight,hr1,hr2,hr3,hr4,hr5,hr6,weight_value,weight_unit,weight_kg
0,1.0,Mickéy Mousé,56.0,70kgs,72,69,71,<NA>,<NA>,<NA>,70.000,kgs,70.000000
1,2.0,Donald Duck,34.0,154.89lbs,<NA>,<NA>,<NA>,85,84,76,154.890,lbs,70.256865
2,3.0,Mini Mouse,16.0,NaN,<NA>,<NA>,<NA>,65,69,72,NaN,NaN,NaN
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,<NA>,<NA>,<NA>,78.000,kgs,78.000000
4,5.0,Pink Panther,54.0,198.658lbs,<NA>,<NA>,<NA>,69,NaN,75,198.658,lbs,90.109680
5,6.0,Huey McDuck,52.0,189lbs,<NA>,<NA>,<NA>,68,75,72,189.000,lbs,85.728888
6,7.0,Dewey McDuck,19.0,56kgs,<NA>,<NA>,<NA>,71,78,75,56.000,kgs,56.000000
7,8.0,Scööpy Doo,32.0,78kgs,78,76,75,<NA>,<NA>,<NA>,78.000,kgs,78.000000
10,9.0,Huey McDuck,52.0,189lbs,<NA>,<NA>,<NA>,68,75,72,189.000,lbs,85.728888
11,10.0,Louie McDuck,12.0,45kgs,<NA>,<NA>,<NA>,92,95,87,45.000,kgs,45.000000
12,11.0,Henry Nam,NaN,60kgs,78,75,72,<NA>,<NA>,<NA>,60.000,kgs,60.000000
13,12.0,Michel Long,34.0,NaN,65,67,55,<NA>,<NA>,<NA>,NaN,NaN,NaN
14,13.0,Tana Ricky,NaN,NaN,<NA>,<NA>,<NA>,68,72,70,NaN,NaN,NaN
15,15.0,NaN,52.0,180lbs,<NA>,<NA>,<NA>,68,75,72,180.000,lbs,81.646560

In [ ]:
#6Các ký tự không phải ASCII
df['name'] = (df['name'].astype(str).str.encode('ascii', errors='ignore') .str.decode('ascii'))
df

,id,name,age,weight,hr1,hr2,hr3,hr4,hr5,hr6,weight_value,weight_unit,weight_kg
0,1.0,Micky Mous,56.0,70kgs,72,69,71,<NA>,<NA>,<NA>,70.000,kgs,70.000000
1,2.0,Donald Duck,34.0,154.89lbs,<NA>,<NA>,<NA>,85,84,76,154.890,lbs,70.256865
2,3.0,Mini Mouse,16.0,NaN,<NA>,<NA>,<NA>,65,69,72,NaN,NaN,NaN
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,<NA>,<NA>,<NA>,78.000,kgs,78.000000
4,5.0,Pink Panther,54.0,198.658lbs,<NA>,<NA>,<NA>,69,NaN,75,198.658,lbs,90.109680
5,6.0,Huey McDuck,52.0,189lbs,<NA>,<NA>,<NA>,68,75,72,189.000,lbs,85.728888
6,7.0,Dewey McDuck,19.0,56kgs,<NA>,<NA>,<NA>,71,78,75,56.000,kgs,56.000000
7,8.0,Scpy Doo,32.0,78kgs,78,76,75,<NA>,<NA>,<NA>,78.000,kgs,78.000000
10,9.0,Huey McDuck,52.0,189lbs,<NA>,<NA>,<NA>,68,75,72,189.000,lbs,85.728888
11,10.0,Louie McDuck,12.0,45kgs,<NA>,<NA>,<NA>,92,95,87,45.000,kgs,45.000000
12,11.0,Henry Nam,NaN,60kgs,78,75,72,<NA>,<NA>,<NA>,60.000,kgs,60.000000
13,12.0,Michel Long,34.0,NaN,65,67,55,<NA>,<NA>,<NA>,NaN,NaN,NaN
14,13.0,Tana Ricky,NaN,NaN,<NA>,<NA>,<NA>,68,72,70,NaN,NaN,NaN
15,15.0,nan,52.0,180lbs,<NA>,<NA>,<NA>,68,75,72,180.000,lbs,81.646560

In [ ]:
# 7.Giá trị bị mất
df.fillna(0, inplace=True)
df

,id,name,age,weight,hr1,hr2,hr3,hr4,hr5,hr6,weight_value,weight_unit,weight_kg
0,1.0,Micky Mous,56.0,70kgs,72,69,71,0,0,0,70.000,kgs,70.000000
1,2.0,Donald Duck,34.0,154.89lbs,0,0,0,85,84,76,154.890,lbs,70.256865
2,3.0,Mini Mouse,16.0,0,0,0,0,65,69,72,0.000,0,0.000000
3,4.0,Scrooge McDuck,0.0,78kgs,78,79,72,0,0,0,78.000,kgs,78.000000
4,5.0,Pink Panther,54.0,198.658lbs,0,0,0,69,0,75,198.658,lbs,90.109680
5,6.0,Huey McDuck,52.0,189lbs,0,0,0,68,75,72,189.000,lbs,85.728888
6,7.0,Dewey McDuck,19.0,56kgs,0,0,0,71,78,75,56.000,kgs,56.000000
7,8.0,Scpy Doo,32.0,78kgs,78,76,75,0,0,0,78.000,kgs,78.000000
10,9.0,Huey McDuck,52.0,189lbs,0,0,0,68,75,72,189.000,lbs,85.728888
11,10.0,Louie McDuck,12.0,45kgs,0,0,0,92,95,87,45.000,kgs,45.000000
12,11.0,Henry Nam,0.0,60kgs,78,75,72,0,0,0,60.000,kgs,60.000000
13,12.0,Michel Long,34.0,0,65,67,55,0,0,0,0.000,0,0.000000
14,13.0,Tana Ricky,0.0,0,0,0,0,68,72,70,0.000,0,0.000000
15,15.0,nan,52.0,180lbs,0,0,0,68,75,72,180.000,lbs,81.646560

In [ ]:
#8. Tiêu đề cột là giá trị chứ không phải tên biến
df.rename(columns={'m0006': 'Male_0_6','m0612': 'Male_6_12','m1218': 'Male_12_18','f006': 'Female_0_6','f0612': 'Female_6_12','f1218': 'Female_12_18'}, inplace=True)
df

,id,name,age,weight,hr1,hr2,hr3,hr4,hr5,hr6,weight_value,weight_unit,weight_kg
0,1.0,Micky Mous,56.0,70kgs,72,69,71,0,0,0,70.000,kgs,70.000000
1,2.0,Donald Duck,34.0,154.89lbs,0,0,0,85,84,76,154.890,lbs,70.256865
2,3.0,Mini Mouse,16.0,0,0,0,0,65,69,72,0.000,0,0.000000
3,4.0,Scrooge McDuck,0.0,78kgs,78,79,72,0,0,0,78.000,kgs,78.000000
4,5.0,Pink Panther,54.0,198.658lbs,0,0,0,69,0,75,198.658,lbs,90.109680
5,6.0,Huey McDuck,52.0,189lbs,0,0,0,68,75,72,189.000,lbs,85.728888
6,7.0,Dewey McDuck,19.0,56kgs,0,0,0,71,78,75,56.000,kgs,56.000000
7,8.0,Scpy Doo,32.0,78kgs,78,76,75,0,0,0,78.000,kgs,78.000000
10,9.0,Huey McDuck,52.0,189lbs,0,0,0,68,75,72,189.000,lbs,85.728888
11,10.0,Louie McDuck,12.0,45kgs,0,0,0,92,95,87,45.000,kgs,45.000000
12,11.0,Henry Nam,0.0,60kgs,78,75,72,0,0,0,60.000,kgs,60.000000
13,12.0,Michel Long,34.0,0,65,67,55,0,0,0,0.000,0,0.000000
14,13.0,Tana Ricky,0.0,0,0,0,0,68,72,70,0.000,0,0.000000
15,15.0,nan,52.0,180lbs,0,0,0,68,75,72,180.000,lbs,81.646560

In [ ]:
#3. Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề “Missing header in the csv file”
import pandas as pd

column_names = ['Id','Name','Age','Weight','m0006','m0612','m1218','f0006','f0612','f1218']

df = pd.read_csv(
    "patient_heart_rate.csv",
    names=column_names,
    engine="python",
    on_bad_lines="warn"   # or "skip"
)

df.head()

/tmp/ipython-input-3006563247.py:6: ParserWarning: Skipping line 17: Expected 10 fields in line 17, saw 11

  df = pd.read_csv(

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [ ]:

#4.Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [ ]:
df[['Firstname','Lastname']] = df['Name'].astype(str).str.split(expand=True, n=1)
df.drop(columns=['Name'], inplace=True)

print(df.head())

    Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0  1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1  2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2  3.0  16.0         NaN     -     -     -    65    69    72      Mini
3  4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4  5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink

  Lastname
0    Mousé
1     Duck
2    Mouse
3   McDuck
4  Panther

In [ ]:
#5.Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu. Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [ ]:
for i in range(len(df)):
    x = str(df.loc[i, 'Weight'])
    if x.endswith('lbs'):
        x = x.replace('lbs', '')
        x = float(x)
        y = int(x / 2.2)
        df.loc[i, 'Weight'] = str(y) + 'kgs'
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       nan     None
9    NaN   NaN    NaN   NaN  None  None  None  None  None       nan     None
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       nan     None

In [ ]:
#6.Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp cóthể đưa ra là xóa bỏ

In [ ]:
df.dropna(how='all', inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       nan     None
9    NaN   NaN    NaN   NaN  None  None  None  None  None       nan     None
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       nan     None

In [ ]:
#7.Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phảidựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [ ]:
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       nan     None
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       nan     None

In [ ]:
#8. Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [ ]:
# Vấn đề 6: Loại bỏ ký tự không thuộc ASCII

df['Firstname'] = (df['Firstname'].astype(str).str.encode('ascii', errors='ignore').str.decode('ascii'))
df['Lastname'] = (df['Lastname'].astype(str).str.encode('ascii', errors='ignore').str.decode('ascii'))
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       nan     None
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       nan     None